:root { scroll-behavior: smooth; }

@font-face {
    font-family: UniSans;
    src: url('/static/webfonts/UniSans-HeavyCAPS.otf');
}

@media screen and (min-width: 1024px){
    h1 {
        font-size: 400%;
        transition: ease all .5s;
    }
}

@media screen and (max-width: 1024px){
    iframe {
        margin: auto;
        width: 448px;
        height: 252px;
        transition: ease all .5s;
    }
    h1 {
        font-size: 400%;
        transition: ease all .5s;
    }
}

@media screen and (max-width: 490px){
    iframe {
        margin: auto;
        width: 320px;
        height: 180px;
        transition: ease all .5s;
    }
    h1 {
        font-size: 300%;
        transition: ease all .5s;
    }
}

body {
    background-image: linear-gradient(to bottom right, #202040, #00000a);
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    text-align: center;
    margin-bottom: 4rem;
}

footer {
    text-align: center;
    margin-top: 4rem;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 1rem;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #ffffff;
    margin: 3rem 0 4rem;
}

p {
    text-align: center;
    color: #ffffff;
}

iframe {
    display: block;
    margin: auto;
    max-width: 100%;
    border: 0.2em solid #ffffff;
    border-radius: 0.5em;
    background-color: #ffffff;
    transition: ease all .5s;
}

.main-content {
    display: block;
    margin: auto;
    width: 480px;
    max-width: 100%;
    border: 0.2em solid #ffffff;
    border-radius: 0.5em;
    background-color: #ffffff;
}

.text-white {
    color: #ffffff;
}

.mini-logo {
    display: block;
    margin: auto;
    width: 5rem;
    max-width: 100%;
}

.mini-page-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: #ffffff;
}

.title {
    font-family: UniSans, Geneva, Tahoma, sans-serif;
}

.page-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #ffffff;
}

.margin-05 {
    margin: 0.5rem;
}

.top-margin-3 {
    margin-top: 3rem;
}

.a-none {
    text-decoration: none;
}

.grid-container {
    width: 90%;
    gap: 2rem;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

#item1 {
    margin: auto;
    grid-column: 1 / 2;
}

#item2 {
    margin: auto;
    grid-column: 2 / 2;
}

#item3 {
    width: 90%;
    margin: auto;
    grid-column: 1 / 2;
}

#item4 {
    width: 80%;
    margin: auto;
    grid-column: 2 / 2;
}

.icon-zoom {
    transition: transform .175s;
}

.icon-zoom:hover {
    transform: scale(1.275);
}

#scroll-top {
    opacity: 0; /* JS-Controlled */
    position: fixed;
    bottom: 1.5em;
    right: 1.5em;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #202060;
    color: white;
    cursor: default; /* JS-Controlled */
    padding: 15px;
    border-radius: 60px;
    font-size: 18px;
    transition: ease all .175s;
}

#scroll-top:hover {
    transform: scale(1.1);
    background-color: #202070;
    box-shadow: 2px 2px 5px inset #2020a0;
}