@font-face {
    font-family: UniSans;
    src: url('/static/webfonts/UniSans-HeavyCAPS.otf');
}

body {
    background-color: #202020;
}

header {
    text-align: center;
    margin-bottom: 4rem;
}

footer {
    text-align: center;
    margin-top: 4rem;
}

h1 {
    text-align: center;
    color: #ffffff;
    font-size: 300%;
    margin-bottom: 1rem;
}

p {
    text-align: center;
    color: #ffffff;
}

iframe {
    display: block;
    margin: auto;
    max-width: 100%;
    border: 0.2em solid #ffffff;
    border-radius: 0.5em;
    background-color: #ffffff;
}

.main-content {
    display: block;
    margin: auto;
    width: 720px;
    height: 405px;
    max-width: 100%;
    border: 0.2em solid #ffffff;
    border-radius: 0.5em;
    background-color: #ffffff;
}

.text-white {
    color: #ffffff;
}

.mini-logo {
    display: block;
    margin: auto;
    width: 5rem;
    max-width: 100%;
}

.mini-page-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    color: #ffffff;
}

.title {
    font-family: UniSans, Geneva, Tahoma, sans-serif;
}

.page-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #ffffff;
}

.margin-05 {
    margin: 0.5rem;
}

.top-margin-3 {
    margin-top: 3rem;
}

.a-none {
    text-decoration: none;
}

.icon-zoom {
    transition: transform .175s;
}

.icon-zoom:hover {
    transform: scale(1.275);
}